<%= render "layouts/homeheader" %>
<div class="center-box" id="signup">
	<h1>FORGOT PASSWORD?</h1>
	<p class='font-oxygen'>We will e-mail you a link to reset it.</p>
	<input id="register-email" type="email" placeholder="Email Address"><br />
	<button class="color_btn" id="submit-email">SUBMIT</button>
</div>