<header>
	<div class="header-wrapper">
		<div id="flash" style="display:none"></div>
		
		<a href="/">
			<img src="/assets/logo.png" class="logo" alt="License Law">
			<span class="subtitle">License Law Online</span>
		</a>
		
		<a id="login" href="#">
			<span id="arrow">&#x25BC;</span>
			<span id="username">LOGIN</span>
		</a>
		<div id="login-form" style="display:none;">
			<form id="loginform">
				<input type="text" id="login-username" name="username" placeholder="Email" style="margin-bottom: 5px;">
				<input type="password" id="login-password" name="password" placeholder="Password" style="margin-bottom: 4px;">
				<p><input type='checkbox' id='login-remember' name="remember" value="1" checked="true" /> Remember me</p>
				<a href="#" id="right-arrow">&#9658;</a>
				<input type="hidden" name="return_url" value="/laws">
			</form>
			<a id="forgot" class="font-oxygen" href="/forgot">Forgot Password?</a>
		</div>
	</div>
</header>